<!DOCTYPE html>
<html>
    <head><title>Poem Maker Pro</title></head>
    <body>
        <h1>Enter terms below.</h1>
        <form method="post" action="/poem">
        <p>姓名：<br><input type="text" name="name"></p>
        <p>年龄：<br><input type="text" name="age"></p>
        <p>性别：<br><input type="radio" name="sex" value="1">男<input type="radio" name="sex" value="0">女</p>
        <p>爱好：<br>
            <input type="checkbox" name="hobbys" value="打篮球">打篮球
            <input type="checkbox" name="hobbys" value="上网">上网
            <input type="checkbox" name="hobbys" value="斗地主">斗地主
            <input type="checkbox" name="hobbys" value="看电影">看电影
        </p>
        <input type="submit">
        </form>
    </body>
</html>