
<li class="active"><a href="#" class="topa">{{ menu['name'] }}</a></li>

<!--
<li class="active"><a href="http://demo691.adminbaby.com/" class="topa"> 首页</a></li>
<li class=""><a href="http://demo691.adminbaby.com/a/about/" class="topa">关于我们</a>
    <ul style="display:none">

    </ul>
</li>
<li class=""><a href="javascript:;" class="topa">新闻动态</a>
    <ul class="drop-menu">

        <li><a href="http://demo691.adminbaby.com/a/news/gsxw/">公司新闻</a></li>

        <li><a href="http://demo691.adminbaby.com/a/news/hyxw/">行业新闻</a></li>

        <li><a href="http://demo691.adminbaby.com/a/news/cpzs/">产品知识</a></li>

    </ul>
</li>
<li class=""><a href="javascript:;" class="topa">产品中心</a>
    <ul class="drop-menu">

        <li><a href="http://demo691.adminbaby.com/a/products/lm1/">产品一类</a></li>

        <li><a href="http://demo691.adminbaby.com/a/products/lm2/">产品二类</a></li>

        <li><a href="http://demo691.adminbaby.com/a/products/lm3/">产品三类</a></li>

        <li><a href="http://demo691.adminbaby.com/a/products/lm4/">产品四类</a></li>

        <li><a href="http://demo691.adminbaby.com/a/products/lm5/">产品五类</a></li>

    </ul>
</li>
<li class=""><a href="http://demo691.adminbaby.com/a/case/" class="topa">案例展示</a>
    <ul style="display:none">

    </ul>
</li>
<li class=""><a href="http://demo691.adminbaby.com/a/rongyu/" class="topa">荣誉资质</a>
    <ul style="display:none">

    </ul>
</li>
<li class=""><a href="http://demo691.adminbaby.com/a/jishu/" class="topa">技术优势</a>
    <ul style="display:none">

    </ul>
</li>
<li class=""><a href="http://demo691.adminbaby.com/a/contact/" class="topa">联系我们</a>
    <ul style="display:none">

    </ul>
</li>
-->