{% extends 'main.html' %}

{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>响应式电子元件电路板类网站织梦模板</title>
<meta name="description" content="响应式电子元件电路板类网站织梦模板 html5电子产品企业通用网站源码下载（自适应手机版） - 模板易源码模版网 - Www.CnCnLe.com">
<meta name="keywords" content="企业通用网站源码,电子元件织梦模板">
<meta name="author" content="order by AdminBaBy.Com">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="email=no" name="format-detection">
{% end %}


{% block css %}
<link href="{{ static_url('css/style.css') }}" rel="stylesheet">
<link href="{{ static_url('css/pintuer.css') }}" rel="stylesheet">
{% end %}

{% block js %}
<script src="{{ static_url('js/jquery.js') }}"></script>
<script src="{{ static_url('js/pintuer.js') }}"></script>
<script src="{{ static_url('js/respond.min.js') }}"></script>
{% end %}


{% block header%}

<div class="wrap-header">
        <div class="layout bg-black wrap-top">
          <div class="container height-big text-white"> <span class="hidden-l">广州某某电子元件有限公司欢迎您！</span> </div>
        </div>
        <div class="container padding-top padding-big-bottom ">
          <div class="line">
            <div class="xl12 xs12 xm2 xb3 padding-top logo">
              <button class="button icon-navicon float-right" data-target="#header-demo3"></button>
              <a href="http://demo691.adminbaby.com/"><img src="{{ static_url('images/logo.png') }}"></a> </div>
            <div class=" xl12 xs12 xm10 xb9 nav-navicon" id="header-demo3">
              <div class="text-right">
                <form name="formsearch" action="http://demo691.adminbaby.com/plus/search.php">
                  <input type="hidden" name="kwtype" value="0">
                  <div class="input-group text-right">
                    <input type="text" class="input border-main" name="q" size="30" placeholder="关键词">
                    <span class="addbtn">
                    <button type="submit" class="button bg-main">搜!</button>
                    </span> </div>
                </form>
              </div>
              <div class="text-right padding-big-top navbar navbar-big">
                <ul class="nav nav-menu nav-inline nav-pills text-right">
                    {% for menu in myMenus %}
                       {% module Menu(menu) %}
                    {% end %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
{% end %}

{% block banner %}

<div class="banner" data-pointer="1" data-interval="5" data-item="1" data-small="1" data-middle="1" data-big="1"
    data-style="border-main">
    <div class="carousel" style="width: 2698px; left: 0px;">
        <div class="item" style="width: 1349px;"><a><img src="{{ static_url('images/1-1PH6092615419.jpg') }}" alt="幻灯2"></a>
        </div>
        <div class="item" style="width: 1349px;"><a><img src="{{ static_url('images/1-1PH6092551950.jpg') }}" alt="幻灯1"></a>
        </div>
    </div>
    <ul class="pointer border-main" style="left: 645.5px;">
        <li value="1" class="active"></li>
        <li value="2" class=""></li>
    </ul>
    <div class="pager-prev icon-angle-left border-main"></div>
    <div class="pager-next icon-angle-right border-main"></div>
</div>

{% end %}

{% block about %}

<div class="layout bg-main">
    <div class="container youshi">
        <div class="xl12 xs12 xm4 xb4 padding-big text-white text-center"> <span
                class="icon icon-globe youshiico padding-big-top"></span>
            <h1 class="padding-big-bottom">国际标准质量</h1>
            <p class="padding-big-bottom"></p>
        </div>
        <div class="xl12 xs12 xm4 xb4 padding-big text-white text-center bg-black2"> <span
                class="icon icon-cogs youshiico padding-big-top"></span>
            <h1 class="padding-big-bottom">先进生产设备</h1>
            <p class="padding-big-bottom"></p>
        </div>
        <div class="xl12 xs12 xm4 xb4 padding-big text-white text-center"> <span
                class="icon icon-thumbs-up youshiico padding-big-top"></span>
            <h1 class="padding-big-bottom">严格的质量把控</h1>
            <p class="padding-big-bottom"></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="layout bg-gray padding-big-top padding-big-bottom">
    <div class="container">
        <div class="xl12 xs12 xm6 xb6 padding-big">
            <h1 class="padding-big-bottom">关于我们</h1>
            <p> 是全球技术领先企业，通过原创的省、小、精技术，倾力创建将人、物与信息互联的新时代。爱普生的主要产品线涵盖喷墨打印机、数码打印系统、3LCD投影机以及智能眼镜、传感系统和工业机器人，致力于在打印、视觉交流、可穿戴设备、机器人等领域持续创新，超越顾客的期待。
                位于日本的精工爱普生公司是爱普生集团的核心企业。爱普生集团在全球设有86家公司，员工逾80,000人。爱普生不断努力减少对环境的影响，为其所在地区的发展做出贡献，并以此为荣。
                爱普生（中国）有限公司成立于1998年，总部设在北京，负责统括爱普生在中国的投资和业务拓展。目前，爱普生在华累计投资已超过8.22亿美元（约合50亿元人民币），共有12家制造、销售及服务等机构，员工逾16,000人。
                爱普生在中国开展的业务主要有打印机、扫描仪、投影机等信息关联产品业务，电子元器件业务以及工业机器人业务。其产品以卓越的品质和节能环保的特点，赢得了中国消费者的厚爱。立足于中国市场，爱普生始终本着挑...
            </p>
            <a class="button bg-main margin-big-top" href="http://demo691.adminbaby.com/a/about/">了解更多&gt;&gt;</a>
        </div>
        <div class="hidden-l hidden-s xm6 xb6 padding-big">
            <div class="banner" data-pointer="1" data-interval="5" data-item="1" data-small="1" data-middle="1"
                data-big="1" data-style="border-main">
                <div class="carousel" style="width: 3300px; left: -1650px;">
                    <div class="item" style="width: 550px;"><a href="http://demo691.adminbaby.com/a/case/39.html"><img
                                src="{{ static_url('images/1-1PH61116432U.jpg') }}" alt="案例展示三"></a></div>
                    <div class="item" style="width: 550px;"><a href="http://demo691.adminbaby.com/a/case/38.html"><img
                                src="{{ static_url('images/1-1PH6111624531.jpg') }}" alt="案例展示二"></a></div>
                    <div class="item" style="width: 550px;"><a href="http://demo691.adminbaby.com/a/case/9.html"><img
                                src="{{ static_url('images/1-1PH6111605359.jpg') }}" alt="案例展示四"></a></div>
                    <div class="item" style="width: 550px;"><a href="http://demo691.adminbaby.com/a/case/8.html"><img
                                src="{{ static_url('images/1-1PH611154A00.jpg') }}" alt="案例展示五"></a></div>
                    <div class="item" style="width: 550px;"><a href="http://demo691.adminbaby.com/a/case/7.html"><img
                                src="{{ static_url('images/1-1PH611152C00.jpg') }}" alt="案例展示六"></a></div>
                    <div class="item" style="width: 550px;"><a href="http://demo691.adminbaby.com/a/case/5.html"><img
                                src="{{ static_url('images/1-1PH6111503130.jpg') }}" alt="案例展示一"></a></div>
                </div>
                <ul class="pointer border-main" style="left: 214.5px;">
                    <li value="1" class=""></li>
                    <li value="2" class=""></li>
                    <li value="3" class=""></li>
                    <li value="4" class="active"></li>
                    <li value="5" class=""></li>
                    <li value="6" class=""></li>
                </ul>
                <div class="pager-prev icon-angle-left border-main"></div>
                <div class="pager-next icon-angle-right border-main"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% end %}

{% block recommand %}
<div class="layout padding-big-top padding-big-bottom">
    <div class="container padding-big-top padding-big-bottom">
        <h1 class="padding-big-bottom text-center">产品中心</h1>
        <div class="list-inline text-center typelist"> <a class="button border-main"
                href="http://demo691.adminbaby.com/a/products/lm1/">产品一类</a> <a class="button border-main"
                href="http://demo691.adminbaby.com/a/products/lm2/">产品二类</a> <a class="button border-main"
                href="http://demo691.adminbaby.com/a/products/lm3/">产品三类</a> <a class="button border-main"
                href="http://demo691.adminbaby.com/a/products/lm4/">产品四类</a> <a class="button border-main"
                href="http://demo691.adminbaby.com/a/products/lm5/">产品五类</a> </div>
        <div class="container padding-big prolist">
            <div class="xl6 xs6 xm4 xb3 proitem"> <a href="http://demo691.adminbaby.com/a/products/lm1/46.html"> <img
                        src="{{ static_url('images/1-1PH6111402610.jpg') }}" alt="产品名称7">
                    <h3>产品名称7</h3>
                </a> </div>
            <div class="xl6 xs6 xm4 xb3 proitem"> <a href="http://demo691.adminbaby.com/a/products/lm1/45.html"> <img
                        src="{{ static_url('images/1-1PH6111331b5.jpg') }}" alt="产品名称8">
                    <h3>产品名称8</h3>
                </a> </div>
            <div class="xl6 xs6 xm4 xb3 proitem"> <a href="http://demo691.adminbaby.com/a/products/lm1/43.html"> <img
                        src="{{ static_url('images/1-1PH611130I93.jpg') }}" alt="产品名称6">
                    <h3>产品名称6</h3>
                </a> </div>
            <div class="xl6 xs6 xm4 xb3 proitem"> <a href="http://demo691.adminbaby.com/a/products/lm1/42.html"> <img
                        src="{{ static_url('images/1-1PH6111243434.jpg') }}" alt="产品名称5">
                    <h3>产品名称5</h3>
                </a> </div>
            <div class="xl6 xs6 xm4 xb3 proitem"> <a href="http://demo691.adminbaby.com/a/products/lm1/41.html"> <img
                        src="{{ static_url('images/1-1PH611121S37.jpg') }}" alt="产品名称4">
                    <h3>产品名称4</h3>
                </a> </div>
            <div class="xl6 xs6 xm4 xb3 proitem"> <a href="http://demo691.adminbaby.com/a/products/lm1/40.html"> <img
                        src="{{ static_url('images/1-1PH6111154264.jpg') }}" alt="产品名称3">
                    <h3>产品名称3</h3>
                </a> </div>
            <div class="xl6 xs6 xm4 xb3 proitem"> <a href="http://demo691.adminbaby.com/a/products/lm1/4.html"> <img
                        src="{{ static_url('images/1-1PH611112Y38.jpg') }}" alt="产品名称2">
                    <h3>产品名称2</h3>
                </a> </div>
            <div class="xl6 xs6 xm4 xb3 proitem"> <a href="http://demo691.adminbaby.com/a/products/lm1/3.html"> <img
                        src="{{ static_url('images/1-1PH611105BK.jpg') }}" alt="产品名称1">
                    <h3>产品名称1</h3>
                </a> </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% end %}

{% block advert %}
<div class="layout padding-big-top padding-big-bottom bg-main">
    <div class="container padding-big-top padding-big-bottom text-center text-white">
        <h1 class="padding-big-bottom">细节决定成败，品质铸造辉煌</h1>
        <p>通过无与伦比的物理和数字检测测量连接技术的智能集成，获得一流的产品、先进的参考资料以及大量的专家协助，<br>
            解读我们周围的世界。我们与您协力
            合作加快创新步伐，超越一切可能。</p>
        <a class="button border-white margin-big-top" href="http://demo691.adminbaby.com/a/about/"> 了解更多&gt;&gt; </a>
    </div>
</div>
{% end %}

{% block news %}

<div class="layout padding-big-top padding-big-bottom">
    <div class="container padding-big-top padding-big-bottom">
        <h1 class="padding-big-bottom text-center">新闻动态</h1>
        <div class="list-inline text-center typelist"> <a class="button border-main"
                href="http://demo691.adminbaby.com/a/news/gsxw/">公司新闻</a> <a class="button border-main"
                href="http://demo691.adminbaby.com/a/news/hyxw/">行业新闻</a> <a class="button border-main"
                href="http://demo691.adminbaby.com/a/news/cpzs/">产品知识</a> </div>
        <div class="container padding-big">
            <div class="hidden-l hidden-s hidden-m xb4 newsitem padding-big-top"> <img
                    src="{{ static_url('images/news.jpg') }}" height="300" width="500"> </div>
            <div class="xl12 xs12 xm6 xb4 newsitem padding-big-top">
                <ul>
                    <li class="clearfix"> <a href="http://demo691.adminbaby.com/a/news/gsxw/22.html"
                            title="山工机械筑路产品客户送">
                            <div class="news-date">
                                <div class="news-date1">20</div>
                                <div class="news-date2">2018/07</div>
                            </div>
                            <div class="news-bodys">
                                <h3>山工机械筑路产品客户送</h3>
                                <p>2014年11月21日活动小组分别走访了我司压路机客户申先生、胡先生，两客户都在...</p>
                            </div>
                        </a> </li>
                    <li class="clearfix"> <a href="http://demo691.adminbaby.com/a/news/gsxw/21.html"
                            title="山工机械筑路产品客户送">
                            <div class="news-date">
                                <div class="news-date1">20</div>
                                <div class="news-date2">2018/07</div>
                            </div>
                            <div class="news-bodys">
                                <h3>山工机械筑路产品客户送</h3>
                                <p>济南历城客户贾大哥，老实厚道的农民，养猪为业，近几年养殖业不景气，打算...</p>
                            </div>
                        </a> </li>
                    <li class="clearfix"> <a href="http://demo691.adminbaby.com/a/news/cpzs/28.html"
                            title="海上丝路遍机遇，联盟春">
                            <div class="news-date">
                                <div class="news-date1">08</div>
                                <div class="news-date2">2016/05</div>
                            </div>
                            <div class="news-bodys">
                                <h3>海上丝路遍机遇，联盟春</h3>
                                <p>2015年4月24日，路面机械专业品牌联盟华南三省（广州）发布会在广州市嘉逸皇...</p>
                            </div>
                        </a> </li>

                </ul>
            </div>
            <div class="xl12 xs12 xm6 xb4 newsitem padding-big-top">
                <ul>
                    <li class="clearfix"> <a href="http://demo691.adminbaby.com/a/news/cpzs/27.html"
                            title="聚焦：中国一拖挺进“一">
                            <div class="news-date">
                                <div class="news-date1">08</div>
                                <div class="news-date2">2016/05</div>
                            </div>
                            <div class="news-bodys">
                                <h3>聚焦：中国一拖挺进“一</h3>
                                <p>5月12日，国家主席习近平和白俄罗斯总统卢卡申科出席中白工业园入园仪式。在...</p>
                            </div>
                        </a> </li>
                    <li class="clearfix"> <a href="http://demo691.adminbaby.com/a/news/cpzs/26.html"
                            title="“世界工厂”渐远 “中国">
                            <div class="news-date">
                                <div class="news-date1">08</div>
                                <div class="news-date2">2016/05</div>
                            </div>
                            <div class="news-bodys">
                                <h3>“世界工厂”渐远 “中国</h3>
                                <p>伴随中国经济高速发展，中国制造席卷世界。然而近30年快速扩张的方式已难持...</p>
                            </div>
                        </a> </li>
                    <li class="clearfix"> <a href="http://demo691.adminbaby.com/a/news/gsxw/25.html"
                            title="长沙经开区：打造“主机">
                            <div class="news-date">
                                <div class="news-date1">08</div>
                                <div class="news-date2">2016/05</div>
                            </div>
                            <div class="news-bodys">
                                <h3>长沙经开区：打造“主机</h3>
                                <p>近日，上海大众汽车长沙工厂在国家级长沙经济技术开发区举行了建成暨首辆轿...</p>
                            </div>
                        </a> </li>

                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% end %}

{% block links %}
<div class="bg-link">
    <div class="container">
         <b>友情链接：</b> 
         {% for link in myLinks %}
            {% module FriendlyLinks(link) %}
         {% end %}
    </div>
</div>
{% end %}




{% block footer %}
<div class="container-layout bg-black2 bg-inverse padding-big-top padding-big-bottom clearfix">
    <div class="table-responsive padding hidden-l container">
        <div class="xl12 xs12 xm9 xb10">
            <ul class="nav nav-sitemap">
                <li><a href="http://demo691.adminbaby.com/a/about/">关于我们</a>
                    <ul>

                    </ul>
                </li>
                <li><a href="http://demo691.adminbaby.com/a/news/">新闻动态</a>
                    <ul>

                        <li><a href="http://demo691.adminbaby.com/a/news/gsxw/">公司新闻</a></li>

                        <li><a href="http://demo691.adminbaby.com/a/news/hyxw/">行业新闻</a></li>

                        <li><a href="http://demo691.adminbaby.com/a/news/cpzs/">产品知识</a></li>

                    </ul>
                </li>
                <li><a href="http://demo691.adminbaby.com/a/products/">产品中心</a>
                    <ul>

                        <li><a href="http://demo691.adminbaby.com/a/products/lm1/">产品一类</a></li>

                        <li><a href="http://demo691.adminbaby.com/a/products/lm2/">产品二类</a></li>

                        <li><a href="http://demo691.adminbaby.com/a/products/lm3/">产品三类</a></li>

                        <li><a href="http://demo691.adminbaby.com/a/products/lm4/">产品四类</a></li>

                        <li><a href="http://demo691.adminbaby.com/a/products/lm5/">产品五类</a></li>

                    </ul>
                </li>
                <li><a href="http://demo691.adminbaby.com/a/case/">案例展示</a>
                    <ul>

                    </ul>
                </li>
                <li><a href="http://demo691.adminbaby.com/a/rongyu/">荣誉资质</a>
                    <ul>

                    </ul>
                </li>
                <li><a href="http://demo691.adminbaby.com/a/jishu/">技术优势</a>
                    <ul>

                    </ul>
                </li>
                <li><a href="http://demo691.adminbaby.com/a/contact/">联系我们</a>
                    <ul>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="hidden-l hidden-s xm3 xb2">
            <h4 class="padding-bottom">关注官方微信</h4>
            <img class="foot-weixin" src="{{ static_url('images/weixin.jpg') }}">
        </div>
    </div>
</div>
<div class="container-layout bg-sub padding-top padding-bottom clearfix">
    <div class="text-center"> Copyright © 模板易源码模版网 版权所有 
        <a href="http://www.dedecms.com/" target="_blank">Power by DedeCms</a>
        <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">皖ICP12345678</a>
    </div>
</div>
{% end %}