<!DOCTYPE html>
<html lang="zh-cn">
<head>
{% block head %}{% end %}
{% block css %}{% end %}
{% block js %}{% end %}
</head>

{% set mailLink = "<a href='mailto:contact@burtsbooks.com'>联系我们</a>" %}

<body style="">
{% block header %}{% end %}
 
<!--end header-->
{% block banner %}{% end %}
<!--end banner-->
{% block about %}
{% end %}
<!--end about--> 
{% block recommand %}

{% end %}
<!--end 产品推荐-->
{% block advert %}

{% end %}
<!--end 广告--> 
{% block news %}

{% end %}
<!--end 新闻推荐--> 
{% block links %}

{% end %}
<!--end 友情链接--> 
{% block footer %}

<!--end 底部--> 
{% end %}

</body>
</html>